<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Appointify</title>
  <link rel="stylesheet" href="../style/index.css">
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
  
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      let calendarEl = document.getElementById('calendar');
       if (calendarEl) {
        let calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth'
        });

        calendar.render();
      } else {
        console.error('Calendar element not found');
      }
    })
  </script>

</head>

<body>
  <header>
    <h1 class="header_title">Get in Touch</h1>
    <p class="header_subtitle">Reach out, Let's create a universe of possibilities together</p>
  </header>

  <main>
    <section id="appointment-tracker">
      <div class="left-side-appointment-form">
        <div class="appointment-container">
          <div class="appointment-container_head">
            <h2>Let's connect via an appointment</h2>
            <p>Let's align our meetings! Reach out and let the magic of collaboration illuminate the skies!</p>
          </div>
          <div class="appointment-container_body">
            <form>
              <div id="fullname" class="form-group">
                  <input type="text" name="lastname" placeholder="Last Name" id="lastname">
                  <input type="text" placeholder="First Name" name="firstname" id="firstname">
              </div>
              <div class="form-group">
                <label>
                  <input type="email" name="email" placeholder="From: youremail@email.com" id="email">
                </label>
              </div>

              <div class="form-group">
                <label>
                  <input type="email" name="rec_email" placeholder="To: reciever@email.com" id="rec_email">
                </label>
              </div>
              <div class="form-gr">
                <textarea name="message" id="message" cols="30" rows="10" placeholder="Type your Message here"></textarea>
              </div>
              <div>
                <button type="submit">Send Appointment</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="right-side-appointment-calender glass" id="calendar">
        <p> You have selected : <span id="userSelection"> </span> </p>
      </div>
    </section>
  </main>

<script>


</script>


</body>

</html>